<nav class="navbar navbar-dark bg-primary" id='nav-d'>
  <a class="navbar-brand" href="#">Navbar</a>
</nav>
<div class="container pt-4">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <%p @products%>
        <tr>
          <th>Codigo Barra</th>
          <th>Nombre Producto</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Accions</th>
        </tr>
      </thead>
      <tbody id='bodyTable'>
        <tr>
          <th><input type="number" class="form-control" id="row-table" placeholder="Example input"></th>
          <td id='name'></td>
          <td id='amount'></td>
          <td id='total'></td>
          <td id='Accions'></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
